<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-group" style="margin-bottom: 10px">
      <label for="address">Email </label>
      <input formControlName="email" placeholder="Email" />
      @if(form.controls.email.pending){
      <small>Validating... </small>
      }
      @if(form.controls.email.errors?.notAvailable){
      <small>Email not available </small>
      }

    </div>


    <button type="submit" [disabled]="form.invalid || form.pending">Save</button>
  </form>
</div>