<div class="container">
    <form
        [formGroup]="form2"
        (ngSubmit)="submit()"
    >
    @for(key of formKeys ; track key){
      <div
          class="input-group"
          style="margin-bottom: 10px"
      >
          <label for="email">Email</label>
          <input
              [formControlName]="key"
              [placeholder]="key"
          >
      </div>
              <button (click)="removeControl(key)">remove contorl</button>

    }
        <button (click)="addControl()">add contorl</button>
        <button type="submit">Submit</button>
        <button type="reset">reset</button>
        {{form.value | json}}
    </form>
</div>
