/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
/* مثال بسيط جداً */
.nav-link.active {
  background-color: #0d6efd; /* لون أزرق */
  color: white !important; /* لون الخط أبيض */
  border: 1px solid #0d6efd;
  border-bottom-color: transparent; /* عشان يدي شكل التاب المفتوح */
  border-radius: 0.25rem 0.25rem 0 0; /* تدوير الحواف العلوية */
}

/* ممكن تضيف تنسيقات للـ ul أو li عشان يبقوا جنب بعض */
.nav-tabs {
  display: flex;
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid #dee2e6; /* خط تحت الـ tabs */
}
.nav-item {
  margin-bottom: -1px; /* عشان يلزق في الخط اللي تحت */
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #0d6efd; /* لون اللينك العادي */
  border: 1px solid transparent; /* بوردر شفاف في العادي */
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6; /* بوردر خفيف عند الـ hover */
}
